*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    display: flex;
    justify-content: space-around;
}
.content{
    text-align: center; 
    display: grid;
    justify-content: space-between;
}
.input{
    height: 30px;
    width: 50%;
    margin: 10px;
    padding-left: 20px;
}
a {
    text-decoration: none;
    color: white;
    transition: 0.5s;
    margin: 0 23%;
}
.buton {
    height: 50px;
    background-color: #494545;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 10px; */
}
.vhod{
    margin: 30% 0 0 0;    
}
.gg1{
    color: #000000;
    margin: 20px 0 0 0;
}
p{
    margin: 10px 0 20px 0;
}
.remebmerme{
    display: flex;
    justify-content: center;
    align-items: baseline
}
.buton:hover {
    color: #000000;
    background-color: #cecece;
    transition: 0.5s;
} 