@model List<ProductModel>
@*
*@
@{
}
<form asp-action="Search">
    <label for="text"></label>
    <input type="name" name="name"/>
    <input type="submit" />
</form>
<section class="row">
    @foreach(var x in Model)
    {
        <div class="col-3 card shadow">
            <div class="card-body">
                <a href="/shop/details?id=@x.Id">Имя: @x.Name</a>
                <a role="button" class="btn" href="/cart/addtocart?id=@x.Id">Добавить в корзину</a>
                <a role="button" class="btn" href="/comparsion/addtocomparsion?id=@x.Id">Добавить в сравнение</a>
                <a role="button" class="btn" href="/favorite/addtofavorites?id=@x.Id">Добавить в избранное</a>
            </div>
        </div>
        <div>Описание: @x.Description></div>
        <div>Категория: @x.Category></div>
    }
</section>
