@model Login
<link rel="stylesheet" href="~/css/Identity/style.css">
<body>
    <form class="content" asp-action="Login" method="post">
        @Html.AntiForgeryToken();
        <div class="vhod"><h1>Вход</h1></div>
        <div>
            <input asp-for="UserName" class="input" type="text" name="UserName" placeholder="Почта">
            <input asp-for="Password" class="input" type="password" name="Password" placeholder="Пароль">
        </div>
        <div class="remebmerme">
            <input asp-for="RememberMe" type="checkbox" name="RememberMe" value="true"><p>запомнить меня?</p>
        </div>
        <input type="submit" href="/shop/productspage" class="buton">войти</input>
        <a asp-area="Identity" asp-controller="Auth" asp-action="Register" class="gg1">регистрация нового пользователя</a>
    </form>
</body>