@model ProductModel
<form method="post" asp-controller="Admin" asp-action="Add">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div>
        <label asp-for="Name">Название</label>
        <input asp-for="Name" value="" />
    </div>
    <div>
        <label asp-for="Description">Описание</label>
        <input asp-for="Description" value="" />
    </div>
    <div>
        <label asp-for="Category"></label>
        <input asp-for="Category" value="" />
    </div>
    <div>
        <label asp-for="Cpu"></label>
        <input asp-for="Cpu" value="" />
    </div>
    <div>
        <label asp-for="Ram"></label>
        <input asp-for="Ram" value="" />
    </div>
    <div>
        <label asp-for="MaxFrequency"></label>
        <input asp-for="MaxFrequency" value="" />
    </div>
    <div>
        <label asp-for="Price"></label>
        <input asp-for="Price" value="" />
    </div>
    <div>
        <label asp-for="CoresAmount"></label>
        <input asp-for="CoresAmount" value="" />
    </div>
    <input type="submit" />
</form>