<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>авторизация</title>
    <link rel="stylesheet" href="~/css/Authorization/style.css">
</head>
<body>
    <div class="content">
        <div class="vhod"><h1>Вход</h1></div>
        <div>
            <input class="input" type="text" name="Логин" placeholder="Логин">
            <input class="input" type="text" name="Пароль" placeholder="Пароль">
        </div>
        <div class="remebmerme">
            <input type="checkbox"><p>запомнить меня?</p>
        </div>
        <a href="/shop/productspage" class="buton">войти</a>
        <a href="/identity/registration" class="gg1">регистрация нового пользователя</a>
    </div>
</body>
</html>