<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>авторизация</title>
    <link rel="stylesheet" href="~/css/Authorization/style.css">
</head>
<body>
    <div class="content">
        <div class="vhod"><h1>Регистрация</h1></div>
        <div>
            <input class="input" type="text" name="Логин" placeholder="Логин">
            <input class="input" type="password" name="Пароль" placeholder="Пароль">
            <input class="input" type="password" name="Пароль" placeholder="Подтвердите пароль">

        </div>

        <a href="#" class="buton">Зарегистрироваться</a>
    </div>
</body>
</html>